/* General Stuff */
html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.first-container {
  margin-top: 50px;
}

.outer-container {
  position: relative;
}
  
.subtopic {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}
  
p {
  text-align: center;
  color: black;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5em;
}
  
section {
  padding: 15px 0px;
  border-bottom: 1px solid rgb(226,226,226);
}

@media only screen and (max-width: 550px) {
  p {
    text-align: justify;
  }
}
  
h1 {
  margin: 0px;
  padding: 20px 0px 10px 0px;
  font-size: 3em;
  font-weight: 100;
}
  
hr {
  width: 70%;
  border-color: #999999;
}

.hcenter {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.dark-button {
  background-color: #414141;
  color: white;
  border-color: #515151;
  transition: background-color 0.5s, color 0.5s;
  font-weight: 100;
}

.dark-button:hover {
  background-color: white;
  color: #414141;
}

.love-footer-dark {
  padding: 2px 0px;
  text-align: center;
  background-color: black;
  color: green;
}