/* General Stuff */
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow-x: hidden;
  background-color: #212121;
}

#main-body-container {
  min-height: 100%;
  margin-bottom: -1.4em;
  overflow: hidden;
}

#main-body-container::after {
  content: "";
  display: block;
  height: 1.4em;
}

.navbar-nav > li, .navbar-nav > li > a {
  transition: color 0.2s, background-color 0.2s;
}

.navbar-nav > li:hover {
  background: #131313;
}

.first-container {
  margin-top: 50px;
}

#gitHubNav {
  /* display: flex; */
  padding-right: 60px;
}

#gitHubNav i {
  padding-left: 10px;
  position: absolute;
  top: 13px;
  font-size: 20px;
}

.outer-container {
  position: relative;
}
  
.subtopic {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}
  
p {
  text-align: center;
  color: black;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5em;
}
  
section {
  padding: 15px 0px;
  border-bottom: 1px solid rgb(226,226,226);
}

@media only screen and (max-width: 550px) {
  p:not(.talk-info) {
    text-align: justify;
  }
}
  
h1 {
  margin: 0px;
  padding: 20px 0px 10px 0px;
  font-size: 3em;
  font-weight: 100;
}
  
.separator {
  width: 70%;
  border-color: #999999;
}

.hcenter {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.dark-button {
  background-color: #414141;
  color: white;
  border-color: #515151;
  font-weight: 100;
}

.dark-button:hover {
  background-color: white;
  color: #414141;
}

.light-button:hover {
  background-color: #414141;
  color: white;
}

.love-footer-dark {
  height: 1.4em;
  text-align: center;
  background-color: #111111;
  color: green;
  overflow: hidden;
}

button {
  margin: 10px 0px;
  font-weight: 100 !important;
  transition: background-color 0.5s, color 0.5s;
}

@media only screen and (max-width: 768px) {

#gitHubNav i {
  top: 9px;
  font-size: 18px;
}

}