@import url("common.css");

.scrollspyPos {
	position: fixed;
	top: 50%;
	right: 0;
}

.pos {
	margin-top: 10%;
	margin-bottom: 15%;
}

#content {
	display: none;
}

.heading {
	text-align: center;
}
