/* General Stuff */
.subtitle {
    font-size: 16px;
}

.subtopic {
    color: white;
    font-weight: 100;
}

/*Will only act on 'HackerTalks' and The Talks'*/
section > .subtopic {
    color: white;
    padding-bottom: 20px;
}

p {
    color: white;
}

section {
    border-bottom: 1px solid rgb(70,70,70);
}

/*Carousel Hackertalk Images*/
#myCarousel {
    max-width: 900px;
    margin: auto;
}

.carouselImage {
    margin: auto;
    max-height: 400px !important;
}

@media only screen and (max-width: 550px) {
    #htPoster {
      width: 80%;
    }
  }
  
/* HackerTalks details */
#hackerTalksDetails {
    text-align: center;
}

#htPoster {
    padding-bottom: 20px;
}

/*Resources Section*/
.talk {
    text-align: center;
}

.separator {
    width: 30% !important;
}

#yearsButton .active-button {
    background-color: white;
    color: #414141;
}

.years-button-box {
    width:  100%;
    display: flex;
    justify-content: center;
}