@import url("flapper.css");
@import url("demo.css");
@import url("set2.css");
@import url("set1.css");
@import url("common.css");

.m12 figure
{
	float: initial;
	width: 100%;
	margin: 10px auto;
}

a:hover 
{
	color: #26a69a;
	font-weight: bold;
}


@media screen and (min-width:992px) {

	#section1
	{	
		min-height: 100vh;
	}

	#section2 .grid {
		min-height: 70vh;
		vertical-align: middle;
	}

	#section2 .fp-tableCell{
		height: inherit;
		display: block !important;
	}

	#section2 footer {
		position: absolute !important;
		width: 100% !important;
		background-color:#d3d3d3;
		min-height: 30vh;
	}
}
.card .card-content
{
	text-align: center;
}

footer div 
{
	color:#26a69a;
	height:200px;
	padding-top:15px;
	font-size:20px;
}
