/* General Stuff */
html, body {
  font-family: 'Roboto', sans-serif;
}

.outer-container {
  position: relative;
}

.subtopic {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}

p {
  text-align: center;
  color: black;
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  padding: 0px 20px;
  font-size: 18px;
  line-height: 1.5em;

}

section {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(226,226,226);
}

@media only screen and (max-width: 550px) {
  p {
      text-align: justify;
  }
  .text {
    font-size: 20px !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 20px 0px 10px 0px;
  font-size: 3em;
}

/* Landing Section */
#landing {
  margin-top: 50px;
  background-color: #212121;
}

#deltaLogoDiv {
  padding: 80px 0px 40px 0px;
  text-align: center;
  animation: sexyGlow 4s ease-in-out 0s infinite;
}

/* CSS for Scramble Text */
.container {
  position: relative;
  top: 25%;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  padding: 50px 0px 100px 0px;
}

.text {
  font-weight: 600;
  font-size: 34px;
  color: green;
}

.dud {
  color: green;
}
/* End of CSS for Scramble Text */
/* End of CSS for Landing Section */

/* Who We Are Section */
#whoWeAre {
  background-color: white;
}

/* Animation stuff */
@keyframes massFlicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.4;
  }
  3% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0.4;
  }
  18% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.4;
  }
  43% {
    opacity: 1;
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 0.4;
  }
  54% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  73% {
    opacity: 0.4;
  }
  75% {
    opacity: 1;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0.4;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sexyGlow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}