/* Landing Section */
#landing {
  background-color: #212121;
}

#deltaLogoDiv {
  padding: 80px 0px 40px 0px;
  text-align: center;
  animation: sexyGlow 4s ease-in-out 0s infinite;
}

/* CSS for Scramble Text */
.container {
  position: relative;
  top: 25%;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  padding: 50px 0px 100px 0px;
}

.text {
  font-weight: 600;
  font-size: 34px;
  color: green;
}

@media only screen and (max-width: 550px) {
  .text {
    font-size: 20px !important;
  }
}

.dud {
  color: green;
}
/* End of CSS for Scramble Text */
/* End of CSS for Landing Section */

/* Who We Are Section */
#whoWeAre {
  background-color: white;
}
/* End of Who We Are Section */

/* What We Do Section */
#whatWeDo {
  background-color: white;
}

#whatWeDoImage {
  margin: 10px 0px;
}

p.section-1-content {
  text-align: justify;
}
/* End of What We Do Section */

/* Events Section */
#events {
  background-color: #212121;
  border-bottom: 1px solid rgb(70,70,70);
}

#events .subtopic, .event p {
  color: white;
}

.event .subtopic {
  font-size: 26px;
}

.event img {
  margin: 20px 0px;
}

/* Animation stuff */
@keyframes sexyGlow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  #whoWeAreImage {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  section {
    padding: 0px;
  }

  #whoWeAreImage {
    width: 100%;
  }

  #events {
    padding: 15px 0px;
  }

  #whatWeDoImage {
    margin: 0px;
  }

  .light-button {
    margin-bottom: 15px;
  }

  .event-image {
    width: 75%;
  }
}