/* Landing Section */
#landing {
  background-color: #212121;
}

#deltaLogoDiv {
  padding: 80px 0px 40px 0px;
  text-align: center;
  animation: sexyGlow 4s ease-in-out 0s infinite;
}

/* CSS for Scramble Text */
.container {
  position: relative;
  top: 25%;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  padding: 50px 0px 100px 0px;
}

.text {
  font-weight: 600;
  font-size: 34px;
  color: green;
}

@media only screen and (max-width: 550px) {
  .text {
    font-size: 20px !important;
  }
}

.dud {
  color: green;
}
/* End of CSS for Scramble Text */
/* End of CSS for Landing Section */

/* Who We Are Section */
#whoWeAre {
  background-color: white;
}

.hcenter {
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

button {
  margin: 10px 0px;
  font-weight: 100 !important;
}

/* End of Who We Are Section */

/* Events Section */
#events {
  background-color: #212121;
}

#events .subtopic, .event p {
  color: white;
}

.event .subtopic {
  font-size: 26px;
}

.event img {
  margin: 20px 0px;
}

.dark-button {
  background-color: #414141;
  color: white;
  border-color: #616161;
  transition: background-color 0.5s, color 0.5s;
}

.dark-button:hover {
  background-color: white;
  color: #414141;
}

/* Animation stuff */
@keyframes massFlicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.4;
  }
  3% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0.4;
  }
  18% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.4;
  }
  43% {
    opacity: 1;
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 0.4;
  }
  54% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  73% {
    opacity: 0.4;
  }
  75% {
    opacity: 1;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0.4;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sexyGlow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}