/* General Stuff */
.subtopic {
    color: white;
}

p {
    color: white;
}

section {
    border-bottom: 1px solid rgb(70,70,70);
}

#teamPictures .btn-group {
    margin-bottom: 15px;
}

#teamPictures .active-batch {
    background-color: white;
    color: #414141;
}

/* Main Container for all member images */
#allMembersContainer {
    text-align: center;
    max-width: 1100px;
    min-width: 200px;
    margin: 10px auto;
}

/* Div for each individual member */
.member-container {
    margin: 0px 10px;
    padding: 12px;
    display: inline-block;
    width: 155px;
    position: relative;
    z-index: 0;
}

/* Initally alumniButton bar hidden */
#alumniButtons {
    display: none;
    align-items: center;
    justify-content: center;
}

/**
 * When you hover over one member, increase its z-index to 100.
 * Thus, the inner-details div will not be blocked by subsequent member-container divs.
 */
.member-container:hover {
    z-index: 100;
}

.member-container:hover > .inner-details {
    animation: fadeInUp 0.5s ease 0s 1 forwards;
}

/* Basic Details Div - Consist of image and name */
.basic-details {
    position: relative;
    z-index: 20; /* Has to be more than the z-index of inner-details on hover */
}

.basic-details .member-image {
    border-radius: 50%;
    width: 131px;
    height: 131px;
}

.basic-details .member-name {
    color: white;
    font-size: 14px;
}

/* Inner Details Div - Consist of interests and social media icons */
.inner-details {
    position: absolute;
    padding-top: 180px;
    padding-bottom: 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 15;
    opacity: 0;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    #alumniButtons {
       flex-direction: column; 
    }
    .alumnibtn {
        margin-top: 0;
    }

    #alumniButtons .alumnibtn {
        width: 40%;
    }

    #alumniButtons>.alumnibtn:first-child {
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-left: -1px;
    }

    #alumniButtons>.alumnibtn:last-child {
        border-radius: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

@media only screen and (max-width: 550px) {
    p {
        font-size: 16px;
    }

    .basic-details .member-image {
        width: 91px;
        height: 91px;
    }

    .member-container {
        width: 115px;
        margin: 0px;
    }

    .inner-details {
        padding-top: 140px;
    }

    .basic-details .member-name {
        font-size: 12px;
    }

    /*Effectively removes btn-lg class from batch buttons*/
    #batchButtons {
        width: 95%;
    }

    #allMembersButtons {
        width: 60%;
    }

    #alumniButtons {
        width: 95%;
    }

    #allMembersButtons .small-mobile {
        width: 35%;
    }

    #allMembersButtons .large-mobile {
        width: 65%;
    }

    #alumniButtons button {
        font-size: 13px;
        padding: 6px 6px;
    }

    #batchButtons button, #allMembersButtons button {
        font-size: 14px;
        padding: 6px 6px;
    }

    .small-mobile {
        width: 10%;
    }

    .large-mobile {
        width: 30%;
    }
}

.red {
    background-color: #A53737;
}

.blue {
    background-color: #216363;
}

.green {
    background-color: #789A33;
}

.inner-details h5 {
    color: white;
    font-weight: 100;
}

/* Social Info Div - Github and Linkedin icons */
.social-info {
    padding-top: 10px;
}

.social-info span {
    display: inline-block;
    width: 30%;
}

.social-info i {
    font-size: 26px;
    color: white;
}

/* Animation for inner-details div, activated on hover */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
