/* General Stuff */
body {
    background-color: #212121;
}

.subtopic {
    color: white;
}

p {
    color: white;
}

section {
    border-bottom: 1px solid rgb(70,70,70);
}

/* Main Container for all member images */
#allMembersContainer {
    text-align: center;
    max-width: 1100px;
    min-width: 200px;
    margin: auto;
}

/* Div for each individual member */
.member-container {
    margin: 0px 10px;
    padding: 12px;
    display: inline-block;
    width: 155px;
    position: relative;
}

/* Basic Details Div - Consist of image and name */
.basic-details {
    position: relative;
    z-index: 1;
}

.basic-details:hover {
    z-index: 10;
}

.basic-details:hover ~ .inner-details {
    opacity: 1;
    z-index: 5;
    animation: fadeInUp 0.5s ease 0s 1;
}

.basic-details .member-image {
    border-radius: 50%;
    width: 131px;
}

.basic-details .member-name {
    color: white;
    font-size: 14px;
}

/* Inner Details Div - Consist of interests and social media icons */
.inner-details {
    position: absolute;
    padding-top: 180px;
    padding-bottom: 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(16, 100, 16);
    z-index: 0;
    opacity: 0;
    border-radius: 5px;
}

.inner-details h5 {
    color: white;
    font-weight: 100;
}

/* Social Info Div - Github and Linkedin icons */
.social-info span {
    display: inline-block;
    width: 40%;
}

.social-info i {
    font-size: 26px;
    color: white;
}

/* Animation for inner-details div, activated on hover */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}