/* General Stuff */
.subtopic {
    color: white;
}

p {
    color: white;
}

section {
    border-bottom: 1px solid rgb(70,70,70);
}

#teamPictures .btn-group {
    margin-bottom: 15px;
}

#teamPictures .active-batch {
    background-color: white;
    color: #414141;
}

/* Main Container for all member images */
#allMembersContainer {
    text-align: center;
    max-width: 1100px;
    min-width: 200px;
    margin: auto;
}

/* Div for each individual member */
.member-container {
    margin: 0px 10px;
    padding: 12px;
    display: inline-block;
    width: 155px;
    position: relative;
    z-index: 100;
}

/* When you hover over one member, reduce the z-index of all subsequent members to 0.
/* Thus, the inner-details div will not be blocked by subsequent member-container divs. */
.member-container:hover ~ .member-container {
    z-index: 0;
}

/* On hovering over a member, animate its inner details into view, and place its z-index above #allMembersContainer 
but underneath basic-details. Thus, the inner-details div will be visible but it will not block the basic-details div*/
.member-container:hover > .inner-details {
    opacity: 1;
    z-index: 15;
    animation: fadeInUp 0.5s ease 0s 1;
}

/* Basic Details Div - Consist of image and name */
.basic-details {
    position: relative;
    z-index: 20; /* Has to be more than the z-index of inner-details on hover */
}

.basic-details .member-image {
    border-radius: 50%;
    width: 131px;
}

.basic-details .member-name {
    color: white;
    font-size: 14px;
}

/* Inner Details Div - Consist of interests and social media icons */
.inner-details {
    position: absolute;
    padding-top: 180px;
    padding-bottom: 20px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; /* Keep inner-details at the back initially so that you cannot hover over it */
    opacity: 0;
    border-radius: 5px;
}

.red {
    background-color: #A53737;
}

.blue {
    background-color: #216363;
}

.green {
    background-color: #789A33;
}

/* Prevents inner-details from disappearing when you move away from its parent member-container */
.inner-details:hover {
    z-index: 15;
    opacity: 1;
}

.inner-details h5 {
    color: white;
    font-weight: 100;
}

/* Social Info Div - Github and Linkedin icons */
.social-info {
    padding-top: 10px;
}

.social-info span {
    display: inline-block;
    width: 30%;
}

.social-info i {
    font-size: 26px;
    color: white;
}

/* Animation for inner-details div, activated on hover */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}