@import url("common.css");
#main,
footer,
.navbar-fixed {
	display: none;
}

#scrollspyPos {
	position: fixed;
	right: 0;
	top: 40%;
}

.card-pos {
	margin-top: 10%;
	margin-bottom: 15%;
}

.heading {
	text-align: center;
}