body {
	font-family: 'Iceberg';
	background-color: #ececec;
	height: 100%;
}

.nav-wrapper {
	background-color: #d3d3d3;
}

#main,
footer,
.navbar-fixed {
	display: none;
}

#scrollspyPos {
	position: fixed;
	right: 0;
	top: 40%;
}

nav ul a {
	color: #26a69a;
	font-weight: bold;
}

[class^="mdi-"],
[class*="mdi-"] {
	color: #26A69A;
}

.card-pos {
	margin-top: 10%;
	margin-bottom: 15%;
}

.side-nav {
	background-color: #ececec;
}
