@import 'set2';
@import 'set1';
@import 'demo';


.navbar-fixed {
	z-index: 10000 !important;
}

footer.page-footer {
	background-color: #ececec;
}

figure {
	min-height:360px;
	img {
		height:100vh;
		max-height:360px;
		width:100%;
	}
}