<div id="competitions">
	<div class="container" position="absolute">
		<div class="row" id="fullpage">
			<div class="col s12 m12 l10 section" ng-repeat="competition in competitions track by $index" on-finish-render-filters smooth-scroll>
				<div id="{{$index}}" class=" pos" >
					<div class="row">
						<div class="col s12">
							<div class="card-panel z-depth-5">
								<h4 class="heading"> {{competition.title}} </h4>
								<p>
									{{competition.desc}}	
								</p>
								<a href="{{competition.link}}"><button class="btn waves-effect waves-light">Register<i class="material-icons right">send</i></button></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<footer class="page-footer" style="background-color:#d3d3d3">
		<div class="container center-align" style="color:#26a69a;height:100px;padding-top:25px;font-size:20px">
			<b>Made with &hearts; by Delta Force</b>
		</div>
	</footer>
</div>	
